# Processar as redes e extrair informações pelo IGraph

Nesse notebook eu faço todos os preparos para atribuir as features da rede à cada uma das rede, incluindo a rede UNITY

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import mygene
import h5py
import networkx as nx
import seaborn as sns
%matplotlib inline

## Rede Parsimonious Composite Network (PCNet)

In [38]:
pcnet_network = pd.read_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/networks/PCNET_network2.tsv', sep = '\t', index_col = 'Unnamed: 0')

pcnet_network

C:\Users\renan\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\numpy\lib\arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

        Source_Name Target_Name
0            UBE2Q1       RNF14
1            UBE2Q1      UBE2Q2
2            UBE2Q1       TMCO1
3            UBE2Q1       UBAC1
4            UBE2Q1        WWP1
...             ...         ...
2724719     SLC7A14     SLC7A10
2724720     SLC7A14     SLC7A11
2724721        SELE        SELP
2724722     SIGLEC1        SELP
2724723       GNGT2       GNGT1

[2719746 rows x 2 columns]

In [6]:
# Teste com a rede
# Adicionando novas propriedades com o Igraph

# Método de ler arquivo externo para o Igraph

from igraph import *

g = Graph.DataFrame(pcnet_network, directed=False)

In [7]:
print("Number of vertices:", g.vcount())
print("Number of edges:", g.ecount())

Number of vertices: 19116
Number of edges: 2719746

In [9]:
named_vertex_list = g.vs()["name"]

In [10]:
nos_PCNET = {'Gene': named_vertex_list}

lista_PCNET = pd.DataFrame(data = nos_PCNET)

lista_PCNET.to_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/traducao_redes2/PCNET_lista.tsv', sep='\t', header=False, index=False)

lista_PCNET

          Gene
0         A1BG
1         A1CF
2          A2M
3        A2ML1
4      A3GALT2
...        ...
19111   ZYG11A
19112   ZYG11B
19113      ZYX
19114    ZZEF1
19115     ZZZ3

[19116 rows x 1 columns]

## Rede ConsensusPathDB

In [47]:
cpdb_network = pd.read_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/networks/CPDB_network.tsv', sep = '\t', index_col = 'Unnamed: 0')

cpdb_network

C:\Users\renan\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\numpy\lib\arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

        Source_Name Target_Name
0             RNF14         VDR
1             RNF14       SMAD4
2             RNF14      UBE2D4
3             RNF14      UBE2D2
4             RNF14      UBE2D3
...             ...         ...
1648421        CFL1    SERPINH1
1648422       DNM1L     PLEKHG1
1648423    SERPINH1      MRPL23
1648424        NFIA        NFIX
1648425       GNGT2       GNGT1

[1644087 rows x 2 columns]

In [12]:
# Teste com a rede
# Adicionando novas propriedades com o Igraph

# Método de ler arquivo externo para o Igraph

from igraph import *

g = Graph.DataFrame(cpdb_network, directed=False)

In [13]:
print("Number of vertices:", g.vcount())
print("Number of edges:", g.ecount())

Number of vertices: 16251
Number of edges: 1644087

In [14]:
named_vertex_list = g.vs()["name"]

In [15]:
nos_CPDB = {'Gene': named_vertex_list}

lista_CPDB = pd.DataFrame(data = nos_CPDB)

lista_CPDB.to_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/traducao_redes2/CPDB_lista.tsv', sep='\t', header=False, index=False)

lista_CPDB

         Gene
0        A1BG
1        A1CF
2         A2M
3       A2ML1
4      A4GALT
...       ...
16246    ZXDC
16247  ZYG11B
16248     ZYX
16249   ZZEF1
16250    ZZZ3

[16251 rows x 1 columns]

## Rede HPRD

In [52]:
HPRD_network = pd.read_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/networks/HPRD_network.tsv', sep = '\t', index_col = 'Unnamed: 0')

HPRD_network

      Source_Name Target_Name
0           NR3C1       RNF14
1           NCOA4       RNF14
2            ESR1       RNF14
3           RNF14      UBE2E1
4          TENT5A       RNF14
...           ...         ...
36862        SELE        SELL
36863       CRYAA       CRYAB
36864        PLAT        PLAU
36865        NFIB        NFIC
36866        NFIB        NFIX

[36864 rows x 2 columns]

In [17]:
# Teste com a rede
# Adicionando novas propriedades com o Igraph

# Método de ler arquivo externo para o Igraph

from igraph import *

g = Graph.DataFrame(HPRD_network, directed=False)

In [18]:
print("Number of vertices:", g.vcount())
print("Number of edges:", g.ecount())

Number of vertices: 9444
Number of edges: 36864

In [19]:
named_vertex_list = g.vs()["name"]

In [20]:
# Como fazer o mesmo processo de tradução nas redes? a lista aqui possui muitos genes repetidos mesmo antes de entrar para o site, não posso remover as duplicadas aqui 
# Ideia: usar a lista de nós para fazer um dicionário e traduzir a partir de uma lista que sei que tem todos os genes 

# Solução1: Usar a lista de nós sem duplicadas tratada da mesma forma que as features para traduzir as colunas da rede



nos_HPRD = {'Gene': named_vertex_list}

lista_HPRD = pd.DataFrame(data = nos_HPRD)

lista_HPRD.to_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/traducao_redes2/HPRD_lista.tsv', sep='\t', header=False, index=False)

lista_HPRD

        Gene
0       A1BG
1       A1CF
2        A2M
3      AAGAB
4       AAMP
...      ...
9439   ZWINT
9440    ZXDC
9441  ZYG11B
9442     ZYX
9443   ZZEF1

[9444 rows x 1 columns]

## Rede IRefIndex

In [65]:
IRefIndex_network = pd.read_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/networks/IREF_network.tsv', sep = '\t', index_col = 'Unnamed: 0')

IRefIndex_network

       Source_Name Target_Name
0            RNF14          AR
1            RNF14        TCF3
2            RNF14      UBE2E1
3            RNF14      UBE2D4
4            RNF14      UBE2D3
...            ...         ...
133543        VCAN        SELL
133544        VCAN        SELP
133545       CAND1        LDHD
133546       CAND1        LDHA
133547        LDHA        LDHB

[133135 rows x 2 columns]

In [22]:
# Teste com a rede
# Adicionando novas propriedades com o Igraph

# Método de ler arquivo externo para o Igraph

from igraph import *

g = Graph.DataFrame(IRefIndex_network, directed=False)

In [23]:
print("Number of vertices:", g.vcount())
print("Number of edges:", g.ecount())

Number of vertices: 14632
Number of edges: 133135

In [24]:
named_vertex_list = g.vs()["name"]

In [25]:
nos_IREF = {'Gene': named_vertex_list}

lista_IREF = pd.DataFrame(data = nos_IREF)

lista_IREF.to_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/traducao_redes2/IREF_lista.tsv', sep='\t', header=False, index=False)

lista_IREF

         Gene
0        A1BG
1        A1CF
2         A2M
3        AAAS
4        AACS
...       ...
14627  ZYG11A
14628  ZYG11B
14629     ZYX
14630   ZZEF1
14631    ZZZ3

[14632 rows x 1 columns]

## Rede MultiNet

In [70]:
MultiNet_network = pd.read_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/networks/MULTINET_network.tsv', sep = '\t', index_col = 'Unnamed: 0')

MultiNet_network

       Source_Name Target_Name
0            RNF14         VDR
1            RNF14       ACVR1
2            RNF14       DYRK2
3            RNF14      UBE2E1
4            RNF14      UBE2D4
...            ...         ...
109593        LDHD        LDHB
109594        LDHD        LDHC
109595        LDHA        LDHB
109596        LDHA        LDHC
109597        LDHB        LDHC

[108604 rows x 2 columns]

In [29]:
# Teste com a rede
# Adicionando novas propriedades com o Igraph

# Método de ler arquivo externo para o Igraph

from igraph import *

g = Graph.DataFrame(MultiNet_network, directed=False)

In [30]:
print("Number of vertices:", g.vcount())
print("Number of edges:", g.ecount())

Number of vertices: 13987
Number of edges: 108604

In [31]:
named_vertex_list = g.vs()["name"]

In [32]:
nos_MULTINET = {'Gene': named_vertex_list}

lista_MULTINET = pd.DataFrame(data = nos_MULTINET)

lista_MULTINET.to_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/traducao_redes2/MULTINET_lista.tsv', sep='\t', header=False, index=False)

lista_MULTINET

         Gene
0        A1BG
1        A1CF
2         A2M
3        AAAS
4        AACS
...       ...
13982    ZXDC
13983  ZYG11B
13984     ZYX
13985   ZZEF1
13986    ZZZ3

[13987 rows x 1 columns]

## Rede STRING

In [79]:
STRING_network = pd.read_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/networks/STRING_network.tsv', sep = '\t', index_col = 'Unnamed: 0')

STRING_network

C:\Users\renan\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\numpy\lib\arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

        Source_Name Target_Name
0             RNF14      UBE2Q1
1             RNF14      UBE2Q2
2             RNF14       RNF11
3             RNF14      PPP3R1
4             RNF14       HSPA4
...             ...         ...
5135763     SLC7A14     SLC7A13
5135764        SELE        SELP
5135765     SLC7A10     SLC7A13
5135766     SLC7A11     SLC7A13
5135767       GNGT2       GNGT1

[5031954 rows x 2 columns]

In [34]:
# Teste com a rede
# Adicionando novas propriedades com o Igraph

# Método de ler arquivo externo para o Igraph

from igraph import *

g = Graph.DataFrame(STRING_network, directed=False)

In [35]:
print("Number of vertices:", g.vcount())
print("Number of edges:", g.ecount())

Number of vertices: 18044
Number of edges: 5031954

In [36]:
named_vertex_list = g.vs()["name"]

In [37]:
nos_STRING = {'Gene': named_vertex_list}

lista_STRING = pd.DataFrame(data = nos_STRING)

lista_STRING.to_csv('C:/Users/renan/Desktop/UFRGS/GNN/data/traducao_redes2/STRING_lista.tsv', sep='\t', header=False, index=False)

lista_STRING

         Gene
0        A1BG
1        A1CF
2         A2M
3       A2ML1
4      A4GALT
...       ...
18039  ZYG11A
18040  ZYG11B
18041     ZYX
18042   ZZEF1
18043    ZZZ3

[18044 rows x 1 columns]